@charset "utf-8";

/* font-family: 'NanumSquareNeoLight';
    font-family: 'NanumSquareNeo';
    font-family: 'NanumSquareNeoBold';
    font-family: 'NanumSquareNeoExtraBold';
    font-family: 'NanumSquareNeoHeavy'; */


body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
span,
strong,
em {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 18px;
    /* 1rem지정 */
    --webkit-text-size-adjust: none;
}

body {
    line-height: 1.2rem;
    color: #383838;
    font-style: normal;
    font-family: 'NanumSquareNeo';
    padding-top: 90px;
    background: url(../images/sub_contact/banner.gif) top 90px center no-repeat;
}

#wrap {
    min-width: 1410px;
    overflow: hidden;
}

/* ---------------------------------------------------------------헤더(서브)*/


header {
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgb(60, 87, 50);
}

header .header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 1320px;
    margin: 0 auto;
}

header .quick {
    display: flex;
}

header #gnb {
    display: flex;
    font-size: 15px;
    width: 500px;
    padding-top: 22px;
}

header #gnb li a{
    display: block;
    text-align: center;
    font-family: 'NanumSquareNeoBold';
    padding-top: 5px;
    margin-left: 30PX;
    color: rgb(255, 255, 255);
}


header #gnb li a:hover, header #gnb li .in{
    color: rgb(255, 190, 137);
}

header .logo a div{
    width: 100px;
    height: 100px;
    margin-left: 15px;
    background: url(../images/header/logo_wsub.svg)no-repeat;
}

header .link {
    display: flex;
    padding-top: 25px;
}

header .search {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    margin-left: 170px;
    position: relative;
}

header .search input {
    outline: none;
    border: none;
    height: 30px;
    font-size: 20px;
    width: 160px;
    color: #fff;
    background-color: transparent;
}

input::-webkit-search-cancel-button {
    display: none;
}

header .s_button {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../images/header/seach_white.svg) no-repeat;
}

header .member {
    position: relative;
}

header .member_wrap {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 20px;
    cursor: pointer;
    background: url(../images/header/member_white.svg) no-repeat;
}

header .member:hover .member_menu {
    display: block;
}

header .member_menu{
    background-color: #fff;
    position: absolute;
    top: 28px;
    left: 1px;
    z-index: 15;
    border-radius: 15px;
    padding: 7px;
    border: 2px solid rgb(60, 87, 50);
    display: none;
    color: rgb(60, 87, 50);
}

header .member_menu li {
    display: block;
    font-size: 13px;
    padding: 2px;
    font-family: 'NanumSquareNeoBold';
    text-align: center;
    cursor: pointer;
}

/* submenu */

header .submenu {
    background-color: rgb(255, 241, 203);
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 9;
}

header .inner_submenu {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    position: relative;
}

.po_wrap{
    width: 130px;
    height: 240px;
}

.sub_po{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 130px;
    text-align: center;
}

.sub_po .img_wrap{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 90px;
    padding-top: 20px;
    border-radius: 500px 500px 50px  50px ;
}

.sub_po .img_wrap img{
    width: 70%;
}

.sub_po h2{
    font-size: 18px;
    padding-bottom: 5px;
    color:rgb(48, 109, 26);
}

.sub_po h4{
    font-size: 13px;
    font-family: 'NanumSquareNeoLight';
    line-height: 18px;
}

header .inner_submenu ul {
    text-align: center;
    padding: 15px 0;
}

header .inner_submenu .link_about{
    width:90px;
}
header .inner_submenu .link_menu{
    width: 76px;
}
header .inner_submenu .link_prom{
    width: 125px;
}
header .inner_submenu .link_cont{
    width: 110px;
}

header .inner_submenu ul li a{
    display: block;
    padding: 10px 0px;
    font-size: 15px;
    font-family: 'NanumSquareNeoBold';
    color:rgb(30, 80, 12);
  
}
header .inner_submenu ul li a:hover{
    color:rgb(255, 115, 0)
}



/* ----------------------------------------------------------푸터(서브) */

footer {
    background: url(../images/footer/footer.svg) no-repeat center top;
    height: 465px;
    color: #fff;
}

.footer_inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    position: relative;
}

footer .logo {
    width: 230px;
    margin: 10px 0 0 50px;
}

footer img {
    width: 100%;
}

footer dt {
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'NanumSquareNeoBold';
}

footer dd {
    font-size: 12px;
    margin-bottom: 3px;
    font-family: 'NanumSquareNeoLight';
}

footer .information {
    margin-left: 200px;
}

footer .icon {
    display: flex;
    width: 150px;
    justify-content: space-between;
    text-align: center;
}

footer .icon li a {
    display: block;
    padding: 25px;
    background: no-repeat center;
    background-size: 50%;
    border-radius: 50%;
    opacity: 0.7;
}

footer .icon li:hover a {
    opacity: 1;
}

footer .icon li:nth-child(1) a {
    background-image: url(../images/main/contact/kakao.png);
    background-position: top 14px center;
}

footer .icon li:nth-child(2) a {
    background-image: url(../images/main/contact/instar.png);
}

footer .icon li:nth-child(3) a {
    background-image: url(../images/main/contact/youtube.png);
}

footer .copy {
    position: absolute;
    font-family: 'NanumSquareNeoLight';
    top: 400px;
    left: 544px;
    font-size: 11px;
    opacity: 0.5;
}

footer .copy span {
    cursor: pointer;
}

/* --------------------------------------------------전체 타이틀(서브)*/
.tab {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.tab li {
    margin: 0 5px;
    font-family: 'NanumSquareNeoBold';
    padding: 3px 10px 1px;
    font-size: 14px;
    text-align: center;
    color: rgb(81, 111, 60);
    cursor: pointer;
}

.tab li:hover {
    background-color: rgb(81, 111, 60);
    color: #fff;
    font-family: 'NanumSquareNeo';
}

h1.title {
    height: 50px;
    text-align: center;
    padding-top: 200px;
}

div.title h1.title {
    height: 50px;
    text-align: center;
    padding-top: 90px;
}

h1.title>img {
    height: 100%;
}

h3.explan {
    text-align: center;
    font-size: 18px;
    padding: 40px 0;
    line-height: 32px;
}

/* 내용 */

div.title {
    height: 750px;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

#delivery ul {
    display: flex;
    justify-content: space-between;
}

#delivery ul li {
    width: 30%;
    text-align: center;
}

#delivery ul li:nth-child(2),
#delivery ul li:nth-child(4) {
    width: 10%;
}

#delivery ul li .img_wrap {
    height: 200px;
    padding: 40px 0;
}

#delivery ul li img {
    width: 100%;
    height: 100%;
    text-align: center;
}

#delivery ul li p {
    line-height: 30px;
    font-family: 'NanumSquareNeoBold';
}
 #delivery ul li:nth-child(1) p {
    padding-bottom: 10px;
} 

#delivery ul li p strong {
    color: rgb(255, 123, 0);
    font-family: 'NanumSquareNeoExtraBold';
}

h6 {
    font-family: 'NanumSquareNeoLight';
    opacity: 0.7;
}

h5 a {
    text-align: center;
    border-radius: 25px;
    color: #fff;
    font-family: 'NanumSquareNeoLight';
}

#delivery ul li h5 {
    margin-top: 10px;
}

#delivery ul li h6 {
    font-size: 10px;
    line-height: 15px;
}

#delivery ul li h5 a {
    font-size: 13px;
    background-color: rgb(255, 178, 63);
    padding: 10px 15px;
}

#delivery ul li h5 a:hover {
    background-color: rgb(255, 136, 24);
}

/* group order */

#group_order h5,
#group_order h6,
#franchise h5 {
    text-align: center;
}

#group_order h5 a{
    font-size: 18px;
    background-color: rgb(255, 178, 63);
    padding: 10px 25px;
}



#group_order h5 a:hover, #store h5 a:hover, #franchise h5 a:hover {
    background-color: rgb(255, 136, 24);
}

#group_order h6 {
    font-size: 13px;
    padding-top: 15px;
}

#group_order .pos_wrap {
    position: relative;
    height: 600px;
}

#group_order .menu_wrap {
    position: absolute;
    width: 400px;
    cursor: pointer;
}

#group_order .m1 {
    top: 0;
    left: 0;
}

#group_order .m2 {
    top: 150px;
    left: 470px;
}

#group_order .m3 {
    top: 0;
    right: 0;
}

#group_order .fr1 {
    rotate: -15deg;
}

#group_order .fr2 {
    rotate: -25deg;
}

#group_order .fr3 {
    rotate: 15deg;
}

#group_order .food {
    position: absolute;
}

#group_order .f1 {
    width: 70%;
    top: 30px;
    left: 70px;
}

#group_order .menu_wrap:hover .food {
    rotate: 10deg;
    transition: 0.3s;
}

#group_order .f2 {
    width: 100%;
    top: -40px;
    left: 10px;
}

#group_order .f3 {
    width: 65%;
    top: 40px;
    left: 50px;
}

#group_order img {
    width: 100%;
}

#group_order p {
    text-align: center;
    padding-top: 15px;
    font-family: 'NanumSquareNeoBold';
}


/* store */

#store{
    padding-bottom: 100px;
}

#store .link ul {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

#store .link ul li a {
    display: block;
    padding: 0px 60px 30px 20px;
    text-align: center;
    font-family: 'NanumSquareNeoBold';
}

#store .content_wrap {
    position: relative;
    height: 400px;
}

#store .content {
    height: 400px;
}

#store .img_wrap {
    float: left;
    height: 400px;
    width: 40%;
    margin-left: 120px;
    border-radius: 50px;
    border: 6px solid orange;
    background: no-repeat top 10px;
}

#store .text_wrap {
    float: right;
    width: 50%;
    padding:  15px 45px;
    box-sizing: border-box;
}

.line{
    width: 85%;
    height: 1px;
    background-color: orange;
    margin: 15px 0 20px;
}

#store h2{
    padding-top: 10px;
    float: left;
    margin-right: 20px;
    padding-left: 20px;
}

#store h5 {
    float: left;
}

#store h5 a {
    background-color: orange;
    border-radius: 20px;
    padding: 10px;
    display: block;
}

#store table {
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

#store th {
    padding: 15px 0;
}

.con1,
.con2,
.con3,
.con4,
.con5,
.con6,
.con7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 640px;
}

.con1 .img_wrap{
    background-image: url(../images/sub_contact/store4.jpg);
}
.con2 .img_wrap{
    background-image: url(../images/sub_contact/store3.jpg);
}
.con3 .img_wrap{
    background-image: url(../images/sub_contact/store2.jpg);
}
.con4 .img_wrap{
    background-image: url(../images/sub_contact/store1.jpg);
}
.con5 .img_wrap{
    background-image: url(../images/sub_contact/store5.jpg);
}
.con6 .img_wrap{
    background-image: url(../images/sub_contact/store6.jpg);
}
.con7 .img_wrap{
    background-image: url(../images/sub_contact/store7.jpg);
}

.on{
    background: url(../images/sub_contact/cursor.svg) no-repeat center top 15px;
    background-size: contain;
}


/* franchise */

/*js제어*/

#franchise .faqs {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
}

/*faq*/

#franchise h2{
    text-align: center;
    font-family: 'NanumSquareNeoBold';
    padding-bottom: 20px;
}

.faqs{
    padding-top: 30px;
}

#franchise .font_10 {
    padding-top: 5px;
}

#franchise .font_10 img, .answer img{
    width: 25%;
}

#franchise .right {
    position: relative;
    width: 1320px;
    padding: 10px 0;
    float: right;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
}

#franchise .right ul li:nth-child(1) {
    text-align: center;
    width: 140px;
    float: left;
}

#franchise .right ul li:nth-child(2) {
    width: 1070px;
    float: left;
}

#franchise .right ul li:nth-child(3) {
    width: 110px;
    float: right;
    padding-top: 17.5px
}

#franchise .right>li ul {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    overflow: hidden;
}

#franchise .text_info {
    background: #ffffff;
    text-align: left;
    overflow: hidden;
}

#franchise .right>li .text_info {
    display: none;
    padding: 25px 0 30px 0;
}

#franchise .right>li .text_info {
    width: 100%
}

#franchise .notice_line {
    height: 1px;
    text-align: center;
    width: 100%;
    margin: auto;
    background: #e6e6e6;
}

#franchise .first{
    height: 3px;
    background: rgb(81, 111, 60);
}

#franchise .notice_bg {
    height: 781px
}

#franchise .right .font_18 {
    position: relative;
    height: 50px;
    color: #333;
    font-size: 20px;
}

#franchise .right .font_18 .noc_po {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

#franchise .turn {
    transform: rotate(180deg);
}

#franchise .plus img {
    width: 30%;
    opacity: 0.7;
    transition: transform 0.5s;
}

#franchise .text_info{
    background-color: #fff7d4c7;
    border-top: 1px solid #e6e6e6;
}

#franchise .text_info p {
    float: left;
    font-size: 16px;
    line-height: 30px;
    
}
.answer_text{
    width: 1070px;
    font-size: inherit;
    line-height: 1.2rem;
    --webkit-text-size-adjust: none;
}

#franchise .answer {
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

#franchise h5 a{
    font-size: 18px;
    background: url(../images/sub_contact/write-btn.png) no-repeat top 17px right 15px rgb(255, 178, 63);
    padding: 15px 35px 15px 25px ;
}
